@page "/"
@page "/home"
@inject WeaponService weaponService
@inject StickerService stickerService
@inject InspectLinkService inspectService

<PageTitle>CS2 Gencode Generator</PageTitle>



<section id="skingenerator">
    <div class="wrapper">
        <div class="container">

            @if (SelectedWeapon is not null)
            {

                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" value="@SelectedWeapon.GetGencode(Float, Pattern, SelectedStickers)" class="form-control" placeholder="Gencode" id="gencode" />
                        <label for="gencode">Gencode</label>
                    </div>
                    <a class="inspect-btn btn btn-info" href="@inspectService.GenerateInspectLink(SelectedWeapon, Float, Pattern, SelectedStickers)">Inspect</a>

                    <button type="button" class="btn btn-primary" onclick="copyGencode()"><i class="fa-solid fa-copy"></i></button>
                </div>

            }

            <div class="generator-wrapper">

                <div class="weapon-wrapper">
                    <div class="form-floating mb-3">
                        <input type="text" @bind="WeaponFilter.Searchterm" @bind:event="oninput" class="form-control" placeholder="Search weapon" id="search-weapon" />
                        <label for="search-weapon">Search weapon</label>
                    </div>
                    @if (weaponService.SearchWeapon(WeaponFilter).Any())
                    {
                        <div class="item-wrapper">
                            @foreach (var weapon in weaponService.SearchWeapon(WeaponFilter))
                            {
                                <DisplayWeapon Weapon="weapon" OnClick="OnWeaponClicked" />
                            }

                        </div>
                    }
                </div>

                <div class="sticker-wrapper">
                    <div class="form-floating mb-3">
                        <input type="text" @bind="StickerFilter.Searchterm" @bind:event="oninput" class="form-control" placeholder="Search stickers" id="search-stickers" />
                        <label for="search-stickers">Search stickers</label>
                    </div>
                    @if (stickerService.SearchSticker(StickerFilter).Any())
                    {
                        <div class="item-wrapper">
                            @foreach (var sticker in stickerService.SearchSticker(StickerFilter))
                            {
                                <DisplaySticker Sticker="sticker" OnClick="OnStickerClicked" />
                            }
                        </div>
                    }
                </div>

                <div class="options-wrapper">
                    <div class="form-floating mb-3">
                        <input type="number" @bind="Float" class="form-control" step=".0001" max="1" min="0" placeholder="Float" id="float" />
                        <label for="float">Float</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" @bind="Pattern" class="form-control" step="1" max="1000" min="0" placeholder="Pattern" id="pattern" />
                        <label for="pattern">Pattern</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" @bind="WeaponFilter.IncludeKnives" id="filter-include-knives">
                        <label class="form-check-label" for="filter-include-knives">
                            Include knives in search results
                        </label>
                    </div>


                    @if (SelectedWeapon is not null)
                    {
                        <button type="button" class="btn btn-danger w-100 mb-1" @onclick="() => SelectedWeapon = null">Reset weapon</button>
                    }



                    @if (SelectedStickers.Any())
                    {
                        <div class="toolbar mb-3 d-flex gap-1">
                            <button type="button" class="btn btn-danger w-50" @onclick="RemoveLastSticker">Remove last sticker</button>
                            <button type="button" class="btn btn-danger w-50" @onclick="() => SelectedStickers.Clear()">Remove all stickers</button>
                        </div>

                        <h3 class="text-white">Search marketplace</h3>
                        <a href="@GetSteamMarketUrl()" target="_blank" class="btn btn-primary d-block mb-1">Steam market</a>
                        <a href="@GetCsgofloatUrl()" target="_blank" class="btn btn-primary d-block mb-1">csfloat</a>
                        @if (!string.IsNullOrEmpty(GetBuff163Url()))
                        {
                            <a href="@GetBuff163Url()" target="_blank" class="btn btn-primary d-block mb-1">Buff163</a>
                        }

                        @if (!string.IsNullOrEmpty(GetSkinportUrl()))
                        {
                            <a href="@GetSkinportUrl()" target="_blank" class="btn btn-primary d-block mb-1">Skinport</a>
                        }
                    }
                </div>


            </div>


        </div>
    </div>
</section>
<div class="selected-sticker-wrapper py-14 py-md-17">
    @foreach (var sticker in SelectedStickers)
    {
        if (SelectedWeapon is not null && SelectedWeapon.StickerSlotsAmount != 5 && sticker.PosId == 4)
        {
            continue;
        }

        <div class="selected-sticker">
            <h5>@sticker.name (Pos: @(sticker.PosId + 1))</h5>
            @if (!string.IsNullOrWhiteSpace(sticker.Image))
            {
                <div class="d-flex justify-content-center align-items-center">
                    <img class="img-responsive" src="@sticker.Image" alt="@sticker.name" />
                </div>
            }
            <EditForm Model="sticker">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="number" @bind="sticker.Scratched" @bind:event="oninput" class="form-control" step="0.1" max="1" min="0" placeholder="Scratched" id="@($"selected-sticker-{sticker.GetHashCode()}")" />
                            <label for="@($"selected-sticker-{sticker.GetHashCode()}")">Scratched</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <InputSelect TValue="int"
                                         Value="@sticker.PosId"
                                         ValueChanged="(value) => OnStickerPosChanged(value, sticker)"
                                         ValueExpression="() => sticker.PosId"
                                         class="form-select" id="@($"selected-sticker-position{sticker.GetHashCode()}")" aria-placeholder="Position">
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                @if (SelectedWeapon is not null && SelectedWeapon.StickerSlotsAmount is 5)
                                {
                                    <option value="4">5</option>
                                }
                            </InputSelect>
                            <label for="@($"selected-sticker-position{sticker.GetHashCode()}")">Position</label>
                        </div>
                    </div>
                </div>
            </EditForm>

            
            <button type="button" @onclick="() => SelectedStickers.Remove(sticker)" class="btn btn-danger">Remove</button>
        </div>
    }
</div>









