@page "/"
@page "/home"
@inject WeaponService weaponService
@inject StickerService stickerService
@inject InspectLinkService inspectService

<PageTitle>CSGO Gencode Generator</PageTitle>



<section id="skingenerator">
    <div class="wrapper">
        <div class="container py-14 py-md-17">

            @if (SelectedWeapon is not null)
            {

                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input type="text" value="@SelectedWeapon.GetGencode(Float, Pattern, SelectedStickers)" class="form-control" placeholder="Gencode" id="gencode" />
                        <label for="gencode">Gencode</label>
                    </div>
                    <a class="btn btn-info" href="@inspectService.GenerateInspectLink(SelectedWeapon, Float, Pattern, SelectedStickers)">Inspect</a>
                    <button type="button" class="btn btn-primary" onclick="copyGencode()"><i class="fa-solid fa-copy"></i></button>
                </div>

            }

            <div class="generator-wrapper">

                <div class="weapon-wrapper">
                    <div class="form-floating mb-3">
                        <input type="text" @bind="WeaponFilter.Searchterm" @bind:event="oninput" class="form-control" placeholder="Search weapon" id="search-weapon" />
                        <label for="search-weapon">Search weapon</label>
                    </div>
                    @foreach (var weapon in weaponService.SearchWeapon(WeaponFilter))
                    {
                        <DisplayWeapon Weapon="weapon" OnClick="OnWeaponClicked" />
                    }
                </div>

                <div class="sticker-wrapper">
                    <div class="form-floating mb-3">
                        <input type="text" @bind="StickerFilter.Searchterm" @bind:event="oninput" class="form-control" placeholder="Search stickers" id="search-stickers" />
                        <label for="search-stickers">Search stickers</label>
                    </div>
                    @foreach (var sticker in stickerService.SearchSticker(StickerFilter))
                    {
                        <DisplaySticker Sticker="sticker" OnClick="OnStickerClicked" />
                    }
                </div>

                <div class="options-wrapper">
                    <div class="form-floating mb-3">
                        <input type="number" @bind="Float" class="form-control" step=".0001" max="1" min="0" placeholder="Float" id="float" />
                        <label for="float">Float</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" @bind="Pattern" class="form-control" step="1" max="1000" min="0" placeholder="Pattern" id="pattern" />
                        <label for="pattern">Pattern</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" @bind="WeaponFilter.IncludeKnives" id="filter-include-knives">
                        <label class="form-check-label" for="filter-include-knives">
                            Include knives in search results
                        </label>
                    </div>


                    @if (SelectedWeapon is not null)
                    {
                        <button type="button" class="btn btn-danger w-100" @onclick="() => SelectedWeapon = null">Reset weapon</button>
                    }

                    @if (SelectedStickers.Any())
                    {
                        <h3 class="text-white">Selected stickers</h3>
                        <a href="@GetSteamMarketUrl()" target="_blank" class="btn btn-primary d-block mb-1">Search on Steam market</a>
                        <a href="@GetCsgofloatUrl()" target="_blank" class="btn btn-primary d-block mb-1">Lookup on csgofloat</a>
                        @if (!string.IsNullOrEmpty(GetBuff163Url()))
                        {
                            <a href="@GetBuff163Url()" target="_blank" class="btn btn-primary d-block mb-1">Lookup on Buff163</a>
                        }
                        <div class="toolbar mb-3 d-flex gap-1">
                            <button type="button" class="btn btn-danger w-50" @onclick="() => SelectedStickers.RemoveAt(SelectedStickers.Count - 1)">Remove last sticker</button>
                            <button type="button" class="btn btn-danger w-50" @onclick="() => SelectedStickers.Clear()">Remove all stickers</button>
                        </div>

                        <Dropzone Items="SelectedStickers" Context="sticker">
                            <div class="selected-sticker">
                                <h5>@sticker.name</h5>
                                <div class="form-floating mb-3">
                                    <input type="number" @bind="sticker.Scratched" @bind:event="oninput" class="form-control" step="0.01" max="1" min="0" placeholder="Scratched" id="@($"selected-sticker-{sticker.GetHashCode()}")" />
                                    <label for="@($"selected-sticker-{sticker.GetHashCode()}")">Scratched</label>
                                </div>
                                <button type="button" @onclick="() => SelectedStickers.Remove(sticker)" class="btn btn-danger">Remove</button>
                            </div>
                        </Dropzone>


                    }
                </div>


            </div>


        </div>
    </div>
</section>










